/* © 2019 Tobias Zehntner (http://tobiaszehntner.art) */
/* License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html) */
/* Commissioned by Fermynwoods Contemporary Art (http://fermynwoods.org) */

/* All devices */
img {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    position: inherit !important;
}

/* Desktop */
@media screen and (min-width: 769px) {
    .header.header > .navbar {
         -webkit-box-shadow: none !important;
         box-shadow: none !important;
    }
    img {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
    body *:not(.cssSwitchTrigger) {
        opacity: 0;
        -webkit-transition: opacity 5s linear 2s !important;
        -moz-transition: opacity 5s linear 2s !important;
        -o-transition: opacity 5s linear 2s !important;
        transition: opacity 5s linear 2s !important;
    }
    body *:not(.cssSwitchTrigger):hover, body *:not(.cssSwitchTrigger):active, body *:not(.cssSwitchTrigger):focus {
        opacity: 1;
        -webkit-transition: opacity 5s linear !important;
        -moz-transition: opacity 5s linear !important;
        -o-transition: opacity 5s linear !important;
        transition: opacity 5s linear !important;
    }
    body,
    body > header,
    body > header > #main-nav,
    body > header > #main-nav > .container,
    body > header > #main-nav > .container > #site-navigation,
    body > header > #main-nav > .container > #site-navigation > #menu-main,
    body > header > #main-nav > .container > #site-navigation > #menu-main > li.cssSwitcherWrapper,
    body > header > #main-nav > .container > #site-navigation > #menu-main > li.cssSwitcherWrapper * {
        opacity: 1;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    .cssSwitcherWrapper {
        position: fixed !important;
        top: 30px;
        right: 10px;
    }
}

/* Mobile & iPads */
@media screen and (max-width: 768px) {
    html, body {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
    }
    p, span {
        width: 100%;
        height: 100%;
        white-space: nowrap;
    }
    #content {
        position: relative;
        top: -300px;
        left: 200px;
    }
    #content *:not(script) {
        display: block-inline;
        position: relative;
        clear: both;
        overflow: visible;
        right: 40px;
        top: 13px;
    }
    #content *:nth-child(n+4):nth-child(-n+8) {
        right: 80px;
        top: 136px;
    }
    #content *:nth-child(n+2):nth-child(odd):nth-child(-n+9) {
        right: 90px;
        top: 43px;
    }
    #content *:nth-child(3n+1):nth-child(odd) {
        top: 80px;
        left: -20px;
    }
    #content *:nth-of-type(n+3):nth-of-type(-n+6) {
        top: 48px;
        left: 807px;
    }
    #content *:nth-of-type(n+3):nth-child(even) {
        top: 253px;
        right: 78px;
    }
    #content *:nth-of-type(n+3):nth-of-type(odd):nth-of-type(-n+7) {
        top: 154px;
        left: 53px;
    }
    #content *:nth-of-type(n+1):nth-of-type(even) {
        top: 88px;
        left: 353px;
    }
    #content *:nth-child(3n+1):nth-of-type(even) span {
        right: 80px;
        top: 253px;
    }
}
