<!doctype html>
<html class="no-js" lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<title>{{ page.title }}</title>
    	<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no">


    	<!-- <link rel="stylesheet" href="/Users/tobias/Code/Artwork/2019-fermynwoods/2019_fermynwoods_tobiaszehntner.css"> -->



        <style>
        /* © 2019 Tobias Zehntner (http://tobiaszehntner.art) */
        /* License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html) */
        /* Commissioned by Fermynwoods Contemporary Art (http://fermynwoods.org) */

        /* All devices */
        img {
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -o-transform: none !important;
            -ms-transform: none !important;
            transform: none !important;
            position: inherit !important;
        }

        /* Mobile */
        @media screen and (max-width: 768px) {
            html, body {
                overflow: auto !important;
            }
            p, span {
                width: 100%;
                height: 100%;
                white-space: nowrap;
            }
            #content * {
                display: block;
                position: relative;
                clear: both;
                overflow: visible;
            }
            #content *:nth-child(n+4):nth-child(-n+8) {
                right: 50px;
                top: 136px;
            }
            #content *:nth-child(n+2):nth-child(odd):nth-child(-n+9) {
                right: 60px;
                top: 13px;
                white-space: normal;
            }
            #content *:nth-child(3n+1):nth-child(odd) {
                top: 50px;
                left: -10px;
            }
            #content *:nth-of-type(n+3):nth-of-type(-n+6) {
                top: 18px;
                left: 787px;
            }
            #content *:nth-of-type(n+3):nth-child(even) {
                top: 223px;
                right: 48px;
            }
            #content *:nth-of-type(n+3):nth-of-type(odd):nth-of-type(-n+7) {
                top: 124px;
                left: 23px;
            }
            #content *:nth-of-type(n+1):nth-of-type(even) {
                top: 58px;
                left: 323px;
            }
            #content *:nth-child(3n+1):nth-of-type(even) span {
                right: 80px;
                top: 223px;
            }
        }
        /* Desktop */
        @media screen and (min-width: 769px) {
            .header.header > .navbar {
                 -webkit-box-shadow: none !important;
                 box-shadow: none !important;
            }
            img {
                -webkit-transform: none !important;
                -moz-transform: none !important;
                -o-transform: none !important;
                -ms-transform: none !important;
                transform: none !important;
            }
            body *:not(.cssSwitchTrigger) {
                opacity: 0;
                -webkit-transition: opacity 5s linear 2s !important;
                -moz-transition: opacity 5s linear 2s !important;
                -o-transition: opacity 5s linear 2s !important;
                transition: opacity 5s linear 2s !important;
            }
            body *:not(.cssSwitchTrigger):hover, body *:not(.cssSwitchTrigger):active, body *:not(.cssSwitchTrigger):focus {
                opacity: 1;
                -webkit-transition: opacity 5s linear !important;
                -moz-transition: opacity 5s linear !important;
                -o-transition: opacity 5s linear !important;
                transition: opacity 5s linear !important;
            }
            body,
            body > header,
            body > header > #main-nav,
            body > header > #main-nav > .container,
            body > header > #main-nav > .container > #site-navigation,
            body > header > #main-nav > .container > #site-navigation > #menu-main,
            body > header > #main-nav > .container > #site-navigation > #menu-main > li.cssSwitcherWrapper,
            body > header > #main-nav > .container > #site-navigation > #menu-main > li.cssSwitcherWrapper * {
                opacity: 1;
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
        }

        </style>

        *:hover:nth-child(n+4):nth-child(-n+8) {
            transition-duration: 1s;
        }
        *:hover:nth-child(n+2):nth-child(odd):nth-child(-n+9) {
            transition-duration: 2s;
        }
        *:hover:nth-child(3n+1):nth-child(odd) {
            transition-duration: 3s;
        }
        *:hover:nth-of-type(n+3):nth-of-type(-n+6) {
            transition-duration: 4s;
        }
        *:hover:nth-of-type(n+1):only-child {
            transition-duration: 5s;
        }
        *:hover:nth-of-type(n+3):nth-of-type(odd):nth-of-type(-n+7) {
            transition-duration: 6s;
        }
        *:hover:nth-of-type(n+1):nth-of-type(even):nth-of-type(-n+3) {
            transition-duration: 7s;
        }
        *:hover:nth-child(3n+1):nth-child(even) {
            transition-duration: 8s;
        }



    </head>
    <body>
        <div>
            first
            <div>
                second
                <div>
                    third
                    <div>
                        fourth
                        <div>
                            fifth
                            <div>
                                sixth
                                <div>
                                    seventh
                                    <div>
                                        eighth
                                        <div>
                                            nineth
                                            <div>
                                                tenth
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
